
{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load allauth %}

{% block head_title %}{% translate "Sign In" %}{% endblock %}

{% block inner %}
<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <a href="AiAgents.Directory" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
          <img class="w-8 h-8 mr-2" src="https://flowbite-admin-dashboard.vercel.app/images/logo.svg" alt="logo">
          AiAgents.Directory
      </a>
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            {% if process == "connect" %}
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}
                </h1>
                <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                    {% blocktrans with provider.name as provider %}You are about to connect a new third-party account from {{ provider }}.{% endblocktrans %}
                </p>
            {% else %}
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    {% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}
                </h1>
                <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                    {% blocktrans with provider.name as provider %}You are about to sign in using a third-party account from {{ provider }}.{% endblocktrans %}
                </p>
            {% endif %}
            <form method="post" class="space-y-4 md:space-y-6">
                {% csrf_token %}
                <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                    {% trans "Continue" %}
                </button>
            </form>
        </div>
    </div>
  </div>
</section>

{% endblock %}
