{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}
  {% translate "Change Password" %}
{% endblock head_title %}
{% block inner %}
  <div class="flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-screen pt:mt-0 dark:bg-gray-900">
    <a href="AiAgents.Directory" class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white">
        <img src="https://flowbite-admin-dashboard.vercel.app/images/logo.svg" class="mr-4 h-11" alt="FlowBite Logo">
        AiAgents.Directory
    </a>
    <!-- Card -->
    <div class="w-full max-w-xl p-6 space-y-8 bg-white rounded-lg shadow sm:p-8 dark:bg-gray-800">
        <h2 class="text-2xl font-bold text-gray-900 dark:text-white">{% translate "Change Password" %}</h2>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">
          {% translate "Your password has been successfully changed." %}
          <a href="{% url 'account_login' %}" class="text-primary-600 hover:underline dark:text-primary-500">
              {% translate "Click here to log in" %}
          </a>
          {% translate "with your new password." %}
      </p>
      
    </div>
  </div>
{% endblock inner %}
