{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}
  {% translate "Change Password" %}
{% endblock head_title %}
{% block inner %}
<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <a href="AiAgents.Directory" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
          <img class="w-8 h-8 mr-2" src="https://flowbite-admin-dashboard.vercel.app/images/logo.svg" alt="logo">
          AiAgents.Directory
      </a>
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                  {% if token_fail %}
                    {% translate "Bad Token" %}
                  {% else %}
                    {% translate "Change Password" %}
                  {% endif %}
              </h1>
              {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p class="text-sm text-red-600 dark:text-red-500">
                    {% blocktranslate %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}" class="text-primary-600 hover:underline dark:text-primary-500">new password reset</a>.{% endblocktranslate %}
                </p>
              {% else %}
                {% if form %}
                  <form method="post" action="." class="space-y-4 md:space-y-6">
                    {% csrf_token %}
                    <!-- Manually render the password fields -->
                    <div>
                        <label for="password1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New Password</label>
                        <input type="password" name="password1" id="password1" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                    </div>
                    <div>
                        <label for="password2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm New Password</label>
                        <input type="password" name="password2" id="password2" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                    </div>
                    <input class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" type="submit" value="{% translate 'change password' %}" />
                  </form>
                {% else %}
                  <p class="text-sm text-gray-500 dark:text-gray-400">{% translate "Your password is now changed." %}</p>
                {% endif %}
              {% endif %}
          </div>
      </div>
  </div>
</section>
{% endblock inner %}
